.PageDescription{
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: flex-end;
}
.PageDescription p{
  margin: 1% 25em;
}
.PageContent-img{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  
}
.PageDescription--ForYourPleasure .PageContent-img{

  background-image: url(../../dist/img/pageDescription/ForYourPleasure.png);


}
.PageDescription--OurCoffee .PageContent-img{
  background-image: url(../../dist/img/pageDescription/img.png);
  
}
.PageDescription--OurCoffee p{
  margin: 1% 15em;
}
.PageContent-img{
  width: 40%;
  height: 30em;
  display: flex;
  justify-content: flex-end;
  
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center right;
}
.pageContent-text{
  width: 60%;
}
.PageDescription--CoffeHouse .pageContent-text{
  width: 100%;
}
.PageDescription--ForYourPleasure p {
  margin: 3% 15em;
}
.PageDescription--ForYourPleasure img{
 box-shadow:none;
}

@media screen and (max-width:768px) {

  .PageContent-img{
    display:none;
    width: 70%;
  }
  .PageContent-img img{
    display: none;
    margin: 1em auto;

  
  }
  .pageContent-text{
    width: 100%;
  }
  .PageDescription p{
    margin: 2% 10%;
  }
}