.App{
  max-width: 1600px;
  margin: auto;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
}
.MainPage,  .CoffeePage, .ForYourPleasurePage{
  font-size: 20px;
}



p,h4{
  font-size: .7em;
}

a{
  font-size: .9em;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.2em;
}

@media screen and (max-width:1200px) {
  .MainPage,  .CoffeePage,.ProductPage, .ForYourPleasurePage{
    font-size: 1.8vw;
  }
}


@media screen and (max-width:768px) {
  .MainPage,  .CoffeePage,.ProductPage, .ForYourPleasurePage{
    font-size: 3vw;
  }
}

@media screen and (max-width:460px) {
  .MainPage,  .CoffeePage,.ProductPage, .ForYourPleasurePage{
    font-size: 4vw;
  }
}