.App{
  max-width: 1600px;
  margin: auto;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
}
.MainPage,  .CoffeePage, .ForYourPleasurePage{
  font-size: 20px;
}



p,h4{
  font-size: 1em;
}
@media screen and (max-width:1200px) {
  .MainPage,  .CoffeePage,.ProductPage, .ForYourPleasurePage{
    font-size: 1.8vw;
  }
}


@media screen and (max-width:768px) {
  .MainPage,  .CoffeePage,.ProductPage, .ForYourPleasurePage{
    font-size: 2vw;
  }
}

@media screen and (max-width:460px) {
  .MainPage,  .CoffeePage,.ProductPage, .ForYourPleasurePage{
    font-size: 2.5vw;
  }
}