.shopWindow{
  text-align: center;

}

.SearchForm{
  display: flex;
  justify-content: space-around;
  margin: 0 20%;
}
.Product_Container{
  width: 100%;
  height: content;
}
.shopWindow--ForYourPleasure .ProductListItem{
  margin: 0 20%;
}
@media screen and (max-width:768px) {
  .SearchForm{
    flex-flow: column;
    text-align: center;
    margin: 0 10%;
  }
}