.shopWindow{
  text-align: center;

}

.SearchForm{
  display: flex;
  justify-content: space-around;
  margin: auto 15%;
  white-space: nowrap;
  margin-bottom: inherit;
  gap: 1em;
}
.Product_Container{
  width: 100%;
  height: content;
}
.shopWindow--ForYourPleasure .ProductListItem{
  margin: 0 20%;
}
@media screen and (max-width:768px) {
  .SearchForm{

    text-align: center;
    margin: 0 10%;
  }
}