.header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 30em;

  position: relative;
  background-color: black;
  background: url(../../dist/img/showcase/CoffeHouse.svg);
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  

  text-align:center;

  color:white;
}


.btn{
  background:none;
  color:white;
  border-color: white;
  margin-top: 1%;
  padding: 0 3% ;

  width:7em;
  cursor: pointer;
}


.header-OurCoffe{
  background: url(../../dist/img/showcase/OurCoffe.jpg);
  background-attachment: fixed;

}



.header-ForYourPage{
  background: url(../../dist/img/showcase/ForYourPleasure.png);
  background-attachment: fixed;
}

.header-moddif-slim{
  background-repeat: no-repeat;
  background-size: 140%;
  padding:7em 0;
  min-height: 3em;
}

@media screen and (max-width:1200px) {
  .header-moddif-slim{

    background-size: cover;

  }
  
}