.containerBest{
  display: flex;
  justify-content: space-evenly;
  padding: 0 4em;
  gap: 0.4em;

}
.OurBest{
  text-align: center;
  background-image: url(../../dist/img/OurBest-bg.png);

  background-attachment: fixed;
  position: relative;
}


.containerBest-item{
  text-align: right;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3%; 
  padding: .5em 1em;
  cursor: pointer;
}

.containerBest-item img{
  margin: 5% auto;
}
.OurBest h2{
  margin-bottom: 1em;
  font-size: 1.5em;
}
.containerBest-item:hover{
  box-shadow: 0 1px 4px 0px #b3b2b2;
  background: rgba(255, 255, 255, 1);
}

@media screen and (max-width:768px) {
  .containerBest{
    flex-flow: column;
    
  }
  .containerBest-item{
    text-align: center;
    margin-top: 1em;
  }
  .containerBest{
    display: flex;
    justify-content: space-evenly;
  
  }
}