.nav-group{
  position:absolute;
  left: 5%;
  top: 5%;
  color:white;
}
.nav-group::before{
  content: url(../../../public/favicon.svg) ;
}
.nav__item{
  transition: all .3s ease-in;
  font-size: 1em;
  cursor: pointer;
  margin-right: 0.5em;
}
.nav__item:hover{
  color:antiquewhite;
}
.burgerIcon{
  width: 5em;
  color: wheat;
}

@media screen and (max-width:768px) {
  .nav-group{
      display: flex;
      align-items: center;
      left: 0;
      top: 5%;
      justify-content:center;
      width: 100vw;
    
       margin: 0 auto;
  }
  .nav-group::before{
    content:'';
  }
}