.nav-group{
  position:absolute;
  left: 5%;
  top: 5%;
  color:white;
}
.nav-group::before{
  content: url(../../../public/favicon.svg) ;
}
.nav__item{
  transition: all .3s ease-in;
  font-size: 1em;
}
.nav__item:hover{
  color:antiquewhite;
}


@media screen and (max-width:768px) {
  .nav-group{
      display: flex;
      align-items: center;
  }
  .nav-group::before{
    content:'';
  }
}